{% extends "base.html" %}

{% block content %}

<h2 class="text-2xl font-bold mb-6">🔥 Trending Movies</h2>

<div class="grid grid-cols-2 md:grid-cols-4 gap-6">

    {% for movie in movies.results %}
    <div class="bg-gray-800 rounded-lg overflow-hidden shadow hover:scale-105 transition duration-200">

        <!-- Poster -->
        <img 
            src="{{ movie.thumbnail }}" 
            class="w-full h-64 object-cover"
        />

        <!-- Info -->
        <div class="p-3 space-y-1">
            
            <!-- Title -->
            <h3 class="text-lg font-semibold truncate">
                {{ movie.title }}
            </h3>

            <!-- Year -->
            <p class="text-sm text-gray-400">
                {{ movie.release_year }}
            </p>

            <!-- Genres -->
            <div class="flex flex-wrap gap-1 mt-1">
                {% for genre in movie.genres|slice:":2" %}
                    <span class="text-xs bg-gray-700 px-2 py-1 rounded">
                        {{ genre }}
                    </span>
                {% endfor %}
            </div>

        </div>

    </div>
    {% empty %}
    <p>No movies available</p>
    {% endfor %}

</div>

{% endblock %}